<div id="popup-container">
  <div id="popup-content" (click)="$event.stopPropagation()">
    <form [formGroup]="addMovieForm" (ngSubmit)="onSubmit()">
      <h3>Add New Movie</h3>

      <div class="form-group" id="first">
        <label>Name</label>
        <input type="text" formControlName="name" />
        <div
          *ngIf="
            addMovieForm.get('name')?.invalid &&
            (addMovieForm.get('name')?.dirty ||
              addMovieForm.get('name')?.touched)
          "
        >
          <div *ngIf="addMovieForm.get('name')?.errors?.['required']">
            Name is required.
          </div>
          <div *ngIf="addMovieForm.get('name')?.errors?.['minlength']">
            Name must be at least 3 characters long.
          </div>

          <div *ngIf="addMovieForm.get('name')?.errors?.['maxlength']">
            Name cannot be more than 20 characters long.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Country</label>
        <select formControlName="country">
          <option value="" disabled>Select a country</option>
          <option
            *ngFor="let country of countries$ | async"
            [value]="country.name.common"
          >
            {{ country.name.common }}
          </option>
        </select>
        <div
          *ngIf="
            addMovieForm.get('country')?.invalid &&
            (addMovieForm.get('country')?.dirty ||
              addMovieForm.get('country')?.touched)
          "
        >
          <div *ngIf="addMovieForm.get('country')?.errors?.['required']">
            Country is required.
          </div>
          <div *ngIf="addMovieForm.get('country')?.errors?.['inaccessibility']">
            Chosen country is not accessible for premiere.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="releaseDate">Release Date</label>
        <input type="date" formControlName="releaseDate" class="form-control" />
        <div
          *ngIf="addMovieForm.get('releaseDate')?.hasError('pastDate')"
          class="text-danger"
        >
          Release date cannot be in the past.
        </div>

        <div
          *ngIf="
            addMovieForm.get('releaseDate')?.invalid &&
            (addMovieForm.get('releaseDate')?.dirty ||
              addMovieForm.get('releaseDate')?.touched)
          "
        >
          <div *ngIf="addMovieForm.get('releaseDate')?.errors?.['required']">
            Release date is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Genres</label>
        <div class="checkbox-group">
          <div class="checkbox-row" *ngFor="let genre of genres">
            <div class="checkbox-cell">
              <input type="checkbox" />
              <label>{{ genre.name }}</label>
            </div>
            <div class="checkbox-cell"></div>
          </div>
        </div>
        <!-- <div
          *ngIf="
            addMovieForm.get('genres')?.invalid &&
            (addMovieForm.get('genres')?.dirty ||
              addMovieForm.get('genres')?.touched)
          "
        >
          <div *ngIf="addMovieForm.get('genres')?.errors?.['required']">
            Please select at least one genre.
          </div>
          <div *ngIf="addMovieForm.get('genres')?.errors?.['minlength']">
            Please select at least one genre.
          </div>
        </div> -->
      </div>

      <div class="form-group">
        <label>Is this a movie or TV series?</label>
        <div class="radio-group">
          <div>
            <input
              type="radio"
              id="movie"
              name="isMovie"
              value="true"
              (change)="showMovieLength = true"
              [checked]="showMovieLength"
            />
            <label for="movie">Movie</label>
          </div>
          <!-- <div>
            <input
              type="radio"
              id="tv-series"
              name="isMovie"
              value="false"
              formControlName="isMovie"
              (change)="showMovieLength = false"
              [checked]="!showMovieLength"
            />
            <label for="tv-series">TV Series</label>
          </div> -->
        </div>
      </div>

      <div class="form-group" *ngIf="showMovieLength">
        <label>Movie Length (in minutes)</label>
        <input type="number" formControlName="minutes" min="60" max="190" />
      </div>

      <!-- <div
        class="form-group"
        *ngIf="addMovieForm.get('isMovie')?.value === false"
      >
        <label>Number of Series</label>
        <input type="number" formControlName="numberOfSeries" min="1" />
      </div> -->

      <div>
        <ngx-star-rating formControlName="rating"></ngx-star-rating>
        <div>Rating: {{ addMovieForm.value.rating }}</div>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
